.edit {
  display: flex;
  width: 100%;

  .editContainer {
    flex: 6;
    max-width: 50%;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .itemTitle {
          margin-bottom: 10px;
          margin-left: 31%;
          color: rgb(160, 160, 160);
        }

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 12px;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .doneButton {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 5px;
          font-size: 12px;
          color: #ffffff;
          background-color: #7451f8;
          cursor: pointer;
          border-radius: 5px 0px 0px 0px;
        }

        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            object-fit: cover;
          }

          .edit {
            display: grid;
            margin-left: 10%;

            .editItem {
              margin-bottom: 10px;
              font-size: 14px;

              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }

              .inputField {
                border: groove;
                // border-bottom: 1px solid gray;
                // border-top: 1px solid gray;
              }
            }
          }
        }
      }
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 10px;
    }
  }
}